.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  font-size: 14px;
}

.nav-bar{
  margin: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
}

#login{
  float: right;
}

li {
  display: inline;
  margin: 5px;
}

h1 {
  display: inline;
}


aside{
  width: 25%;
  padding-right: 20px;
}

.post {
  font-size: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 16px;
  margin: 20px;
  border: solid black 1px;
}

.card-text-bottom{
  float: bottom;
}

.posts-list{
  max-width: 75%;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.posts {
  height: 100%;
  position: relative;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.post-img {
  float: right;
}

.right {
  width: 250px;
  float: right;
}

.bottom{
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid black 1px;
}